.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  background-color: rgb(113, 115, 129);
  color: black;
  font-size: calc(10px + 2vmin);
}

.cards {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space space-between;
  gap: 10px;
  height: 25%;
  align-self: baseline;
  margin: 10px;
}

.card {
  display: flex;
  width: 100px;
  padding: 10px;
  background-color: rgb(177, 167, 35);
  font-size: large;
}

.board {
  flex: 2;
  height: 100%;
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hallway {
  display: flex;
  background-color: rgb(57, 39, 10);
}

.hallway-active{
  cursor: pointer;
  background-color: rgb(103, 69, 17);
}

.hallway-active:hover {
  background-color: rgb(144, 102, 44);
}

.horizontal {
  margin: 20px 0;
}

.vertical {
  margin: 0 20px;
}

.room {
  display: flex;
  background-color: rgb(44, 75, 17);
}

.room-active {
  background-color: rgb(66, 113, 25);
  cursor: pointer;
}

.room-active:hover {
  background-color: rgb(100, 195, 100);
}

.player {
  background-color: white;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.player-red {
  background-color: red;
}

.player-blue {
  background-color: blue;
}

.player-current {
  border: solid white 1px;
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space space-between;
  gap: 10px;
  height: 25%;
  align-self: baseline;
  margin: 10px;
}

.action {
  background-color: white;
  width: 75%;
  padding: 10px;
}

.action:hover {
  cursor: pointer;
  background-color: rgb(223, 216, 183);
}